[submodule "OH/express_example_1"]
	path = OH/express_example_1
	url = https://github.com/ribonred/express_example.git
[submodule "OH/express_example_2"]
	path = OH/express_example_2
	url = https://github.com/ribonred/express_example.git
[submodule "ptb1-weekly-assessment"]
	path = ptb1-weekly-assessment
	url = https://github.com/agussaputran/ptb1-weekly-assessment.git
[submodule "OH/00-node-restapi"]
	path = OH/00-node-restapi
	url = https://github.com/ribonred/express_example.git
